.__List {
    min-width: 30em;
    width: 70%;
    max-width: 65em;
    display: flex;
    flex: 1 1 0px;
    overflow: hidden;
    flex-direction: row;
    justify-content: stretch;
    
    & > * {
        flex: 1 0 0px;
    }
    
    .info {
        color: #00000060;
        margin-bottom: 1em;
        
        p {
            margin-bottom: 0.5em;
        }
    }
    
    .left ul {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: underline;
        
        li {
            margin: 4px 0px;
            cursor: pointer;
            display: block;
        }
    }
    
    .left, .right {
        overflow: auto;
        
        .title {
            box-sizing: border-box;
            padding: 1em;
        }
        
        .list {
            padding: 0 1em;
        }
    }
    
    .right {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
        .subtitle {
            background: var(--background);
            position: sticky;
            top: 0px;
            z-index: 2;
            display: block;
            font-weight: bold;
            flex: 1 1 0px;
        }
        
        .list {
            overflow: auto;
        }
    }
}
